* {
    margin: 0;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 30px;
}

.main-header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul,
.record-list,
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav {
    flex-grow: 1;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav li a {
    color: white;
    text-decoration: none;
}

.main-nav li a:hover {
    color: #ddd;
}

.main-nav li:active {
    text-decoration: underline;
}

.main-footer {
    background-color: #472b2b;
}

.main-footer h1 {
    padding-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d3;
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
}

.addactor,
.contact,
.col-md-6 h3 {
    margin-bottom: 20px;
}

.actorform input,
.contactform input,
.contactform textarea,
.form-group input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
}

.actorform button,
.contactform button,
.col-md-6 button,
.search button,
.fmovie button {
    border: 0;
    background-color: red;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.col-md-6 form {
    margin-bottom: 20px;
}

.search input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.flash {
    margin-top: 20px;
    padding: 20px;
    color: white;
    display: none;

    &.active{
        display: block;
    }

    &.error{
        background: #6b0000;
    }

    &.success{
        background: green;
    }
}