* {
    margin: 0;
}

.container {
    text-align: center;
}
  
.main-header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.main-nav li a {
    color: white;
    text-decoration: none;
}
  
.main-nav li a:hover {
    color: #ddd;
}

.main-nav li:active {
    text-decoration: underline;
}

.main-footer {
    background-color: #472b2b;
    padding: 20px;
}