##
description = "Default layout"

[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        <title>Projekts</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="turbo-visit-control" content="reload" />
        <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    </head>
    <body class="layout-home">


        {% partial "header" %}

        <!-- Content -->
        <section id="layout-content" class="container clearfix">
            {% page %}
        </section>

        {% partial "footer" %}

        <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>

        <script type="text/javascript">

        jQuery(document).ready(function($){
            $('.contact-form').on('ajaxError', function(event, message){
                $('.flash').removeClass('active');
                $('.flash.error').addClass('active');
            });

            $('.contact-form').on('ajaxSuccess', function(event, message){
                $('.flash').removeClass('active');
                $('.flash.success').addClass('active');
            });
        });

        </script>

        {% framework extras %}
        {% scripts %}
    </body>
</html>
